body {
  font-family: serif;
}

a {
  color:#444;
}

button {
  border: none;
  background-color: #fff;
  font-size: 16px;
  line-height: 200%;
  color: #444;
}

.App {
  padding: 240px 0;
  text-align: center;
}

.title {
  font-size: 96px;
  color: #ff0000;
}

.message {
  padding: 12px 0 48px;
  font-size: 20px;
  color: #ff0000;
}

.aquatic {
  padding: 3rem;
  font-size: 16px;
  color: #ccc;
}

.concept {
  padding: 24px 0;
  font-family: source-han-sans-japanese,Hiragino Sans,ヒラギノ角ゴ ProN W3,Meiryo,sans-serif;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.play {
  padding: 12px 0 48px;
}

.contact {
  padding: 0;
}